<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Prikaz trenutnega časa basic Jinja template</title>
    <style>

        body {
            background-color: powderblue;
            }

        h2 {
            font-size: 400%;
            text-align: center;
            }

        h1 {
            padding-up: 40%;
            font-size: 900%;
            color: brown;
            text-align: center;
            padding-top: 5%;
        }

    </style>

</head>
<body>
<h2>Trenutni čas je</h2>
<h1> {{ cas }} </h1>


</body>
</html>